
  .imageSize{
      width: 100%;
      height: 100%;
  }

  .imageheader {
    margin: 0 auto;
    background-color: white;
    padding: 2%;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 4px rgb(0 0 0 / 24%);
    border: 0.3rem solid white;
  }
 