/* Todos los elementos HTML usarán la fuente "Open Sans", sans-serif */

* {
    font-family: "Open Sans", sans-serif;
}

/* El elemento body sin margen y sin relleno */

body {
    margin: 0;
    padding: 0;
}
.space-left, #descriptionzone{
    padding-left: 10rem;
}
#descriptionzone{
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: 85% 15%;
}

#description{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 60% 10%;

}

#description img{
    align-items: stretch;
}

#parttwo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

#parttwo .box-images{
    border-left: 4px solid orangered;
    padding-left: 3rem;
    padding-right: 3rem;
}
#descriptpartone{
    padding-left: 10rem;
    padding-right: 10rem;
}

.image-menu{
    height: 10rem;
    width: 8rem;
}